.navbar {
  background-color: #ef5350 !important;
}

a {
  margin-left: 10px;
}

.App {
  padding-top: 4rem;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
}
